body {
    font-family: 'Great Vibes', cursive;
    text-align: center;
    margin: 0;
}

.container {
    padding: 20px;
    background-color: white;
}

img {
    border-radius: 45%;
    max-width: 400px;
}

h1 {
    margin-bottom: 20px;
    font-size: 36px;
    margin-bottom: 30px;
    color: #000000;
}

.btns {
    margin: 20px;
}

button {
    font-size: 20px;
    padding: 12px 24px;
    margin: 10px;
    border: 1px solid black;
    border-radius: 20px;
    background-color: #ffffff;
    color: #000000;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #000000;
    color: #ffffff;
}

.popup {
    display: none;
    background-color: #fff;
    border: 1px solid #000000;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    padding: 20px;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    font-size: 24px;
    color: #000000;
}

.popup.fade-in {
    animation: fadeIn 0.3s ease;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

